@page "/"

@*<button @onclick="Addtweet" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>*@
@*<AddtweetDialog @ref="AddtweetDialog"></AddtweetDialog>*@
@if (DataAccess.TopTweets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var Tweet in DataAccess.TopTweets)
    {
        <TweetC TweetP=Tweet></TweetC>
    }
}