@page "/Message"
@page "/Message/{userId}"

@if (UserId == null || DataAccess.Messages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var messages in DataAccess.Messages)
    {
        <MessageC MessageP="messages"></MessageC>
    }
}