@page "/Message"
@page "/Message/{userId}"

@if (UserId == null && DataAccess.Conversation != null)
{
    @foreach (var messages in DataAccess.Conversation)
    {
        <Conversation MessageP="messages"></Conversation>
    }
}
else if (UserId != null && DataAccess.Messages != null)
{
    if (DataAccess.UserCheck != null)
    {
        <button @onclick="SendMessage" class="btn btn-dark table-btn quick-add-btn"><i class="fas fa-user-edit"></i></button>
        <MessageDialog @ref="MessageDialog" Idto="@DataAccess.UserCheck.Id" Nameto="@DataAccess.UserCheck.Username"></MessageDialog>
    }
    @foreach (var messages in DataAccess.Messages)
    {
        <MessageC MessageP="messages"></MessageC>
    }
}