<a class="card" href="@($"/Message/{MessageP.Item3}")">
    <div class="card-body">
        <div class="row">
            <div>
                <a href="@($"UserProfile/{MessageP.Item3}")">
                    <h5 class="card-title">@MessageP.Item1</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="card-text">@MessageP.Item2</p>
            </div>
        </div>
    </div>
</a>