<a class="card" href="@($"/Message/{MessageP.Item2}")">
    <div class="card-body">
        <div class="row">
            <div>
                <a href="@($"UserProfile/{MessageP.Item2}")">
                    <h5 class="card-title">@MessageP.Item1</h5>
                </a>
            </div>
        </div>
    </div>
</a>