@if (User != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@User.Username</h5>
            <h6 class="card-subtitle mb-2 text-muted">@User.Firstname + " " + @User.Lastname</h6>
            <a href="#" class="card-link">logout</a>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">not inloged</h5>
            <a href="#" class="card-link">login</a>
        </div>
    </div>
}