@if (DataAccess.Loading)
{
    <div class="d-flex justify-content-center" style="position: fixed;  right: 50%; bottom: 50%; z-index:10000;">
        <div class="spinner-border"  role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}