<div class="card">
    <div class="card-body">
        <div class="row">
            <div>
                <h5 class="card-title">@MessageP.Item1</h5>
            </div>
        </div>
        <p class="card-text">@MessageP.Item2</p>
    </div>
</div>