<div class="card">
    <div class="card-body">
        <div class="row">
            <div>
                <a href="@($"UserProfile/{MessageP.Item2.UserFromId}")">
                    <h5 class="card-title">@MessageP.Item1</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="card-text">@MessageP.Item2.Message</p>
            </div>
        </div>
    </div>
</div>
