<div class="card">
    <div class="card-body">
        <h5 class="card-title">@TweetP.Item1</h5>
        <p class="card-text">@TweetP.Item2.Message</p>
        <a href="#" class="card-link">Retweet</a>
        @if (TweetP.Item2.UserID == DataAccess?.User?.Id)
        {
            <a type="button" class="btn btn-danger" @onclick="@Remove">Remove</a>
        }
    </div>
</div>