<div class="card">
    <div class="card-body">
        @* <h5 class="card-title">@TweetP.Username</h5> *@
        <p class="card-text">@TweetP.Message</p>
        <a href="#" class="card-link">Retweet</a>
        @if (TweetP.UserID == DataAccess?.User?.Id)
        {
            <a type="button" class="btn btn-danger" @onclick="@Remove">Remove</a>
        }
    </div>
</div>