<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h5 class="card-title">@TweetP.Item1</h5>
            </div>
            <div class="col" style="float:left">
                <h6 class="card-subtitle mb-2 text-muted">@TweetP.Item2.CreateDate.ToString("yyyy-MM-dd HH:mm")</h6>
            </div>
            <div class="col" >
                @if (TweetP.Item2.UserID == DataAccess?.User?.Id)
                {
                    <a type="button" style="float: right" class="btn btn-danger" @onclick="@Remove">Remove</a>
                }
            </div>
        </div>
        <p class="card-text">@TweetP.Item2.Message</p>
        <a href="#" class="card-link">Retweet</a>
        
    </div>
</div>